.successSet {
   background-image: url('../../img/backgrounds/successSet.png');
   background-color: #9b6909;
   background-size: cover;
   height: 834px;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   vertical-align: middle;
   box-sizing: border-box;
}

.successSet-wrapper {
   position: relative;
   width: 100%;
   height: 100%;
   z-index: 0;
}
